<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Books</title>
	<link rel="stylesheet" href="/static/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/rating.css">
</head>
<body>
	<nav class="navbar navbar-expand navbar-light bg-light shadow-sm border-bottom mb-3">
		<a class="navbar-brand" href="#">Book Reviews</a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('index') }}" title="Home">Home</a>
			</li>		
			{% if session['logged_in'] %}
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('logout') }}" title="Logout">Log Out</a>
			</li>			
			{% else %}
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('login') }}" title="Login">Log In</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('register') }}" title="Register">Register</a>
			</li>
			{% endif %}
		</ul>
		{% if session['logged_in'] %}
			<span class="navbar-text">Logged in as {{ session['username'] }}</span>			
		{% endif %}
	</nav>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
		<div class="container">
			<div class="row justify-content-center">
			{% for message in messages %}
					<div class="col-10 col-md-6 alert alert-primary" role="alert">{{ message }}</div>
			{% endfor %}
			</div>
		</div>
		{% endif %}
	{% endwith %}
	{% block body %}
	{% endblock %}
</body>
</html>